{% extends "layout.html" %}
{% block content %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <h1>Setup Network Topology.</h1>
                <br>
            </div>
              <h2>Option 1</h2>
              <p>Generate <a href="/setupNetworkTopologyRandom"> Random Network Topology</a>.</p>
                <h2>Option 2</h2>
              <p>Upload <a href="/setupNetworkTopologyUpload"> already generated Network Topology</a>.</a></p>
                    <br>
          </div>
        </article>
{% endblock content %}