{% extends "layout.html" %}
{% block content %}
    <h1>Select the csv file containing the network topology information.</h1>
    <hr>
    <h5>You can upload a csv file containing the information about the number of transactions and the adjacency matrix with the neighbour information.</h5>
    <br>

    <form action="/sendTransactions" method="POST" enctype="multipart/form-data">
        <div class="form-group">

            <div class="custom-file">
                <input type="file" class="custom-file-input" name="csv" id="network-topology-information">
                <label class="custom-file-label" for="network-topology-information">Select a csv file.</label>
            </div>
            <br>
            <br>
            <button type="submit" class="btn btn-primary">Upload.</button>
        </div>
    </form>
{% endblock content %}